import sbt._

lazy val base = (project in file("."))
  .aggregate(
    common,
    exercises
  )
  .settings(CommonSettings.commonSettings: _*)
  .enablePlugins(LagomJava)

lazy val common = project
  .settings(CommonSettings.commonSettings: _*)
  .enablePlugins(LagomJava)

lazy val exercises = project
  .settings(CommonSettings.commonSettings: _*)
  .enablePlugins(LagomJava)
  .dependsOn(common % "test->test;compile->compile")

